.items__container
  %ul.items__container--list
    - @items.each do |item|
      %li.item__list
        .item__thumbnail
          = link_to item_path(item.id) do
            .item__thumbnail--image
            - if item.images.present?
              = image_tag item.images[0].item_image.url, class: "item__show", size: "120x160"
            - else
              = image_tag "no_image.png", class: "item__show"
          .item__label
            = item.name
          .item__price
            = "¥ #{item.price.to_s(:delimited)}"
          .item__btn
            .item__btn--edit
              = link_to "編集", edit_shop_item_path(@shop, item), class: "edit__btn"
            .item__btn--delete
              = link_to "削除", shop_item_path(@shop, item), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "delete__btn"
