.container__left
  .container__left--menu
    = link_to "ショップ情報変更", edit_shop_path(@shop.id), class: "menu__title"
  .container__left--menu
    = link_to "アイテム出品", new_shop_item_path(@shop.id), class: "menu__title"
  .container__left--menu
    = link_to "出品商品一覧", admin_index_shop_path(@shop.id), class: "menu__title"
  - if @shop.community.blank?
    .container__left--menu
      = link_to "コミュニティ作成", new_shop_community_path(@shop.id), class: "menu__title"
  - else
    .container__left--menu
      = link_to "コミュニティ編集", edit_shop_community_path(@shop.id, @shop.community.id), class: "menu__title"
  .container__left--menu
    = link_to "販売履歴", "#", class: "menu__title"
  .container__left--menu
    = link_to "退会", leave_shop_path, class: "menu__title"
