.wrapper__mypage
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title 出品商品一覧
    .mypage__container--all
      .container__left
        .container__left--menu
          = link_to "ショップ情報変更", edit_shop_path(@shop.id), class: "menu__title"
        .container__left--menu
          = link_to "アイテム出品", new_shop_item_path(@shop.id), class: "menu__title"
        .container__left--menu
          = link_to "出品商品一覧", admin_index_shop_path(@shop.id), class: "menu__title"
        .container__left--menu
          = link_to "販売履歴", "#", class: "menu__title"
        .container__left--menu
          = link_to "退会", leave_shop_path, class: "menu__title"

      .container__right
        .shop__header
          .shop__header--title
            = @shop.name
        .shop__item--title アイテム一覧
        .items__container
          %ul.items__container--list
            - @items.each do |item|
              %li.item__list
                .item__thumbnail
                  = link_to item_path(item.id) do
                    .item__thumbnail--image
                    - if item.images.present?
                      = image_tag item.images[0].item_image.url, class: "item__show", size: "120x160"
                    - else
                      = image_tag "no_image.png", class: "item__show"
                  .item__label
                    = item.name
                  .item__price
                    = "¥ #{item.price.to_s(:delimited)}"
                  .item__edit
                    = link_to "編集", edit_shop_item_path(item.shop, item.id), class: "edit__btn"

  .blank__space
