.wrapper__mypage
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title ショップ情報
    .mypage__container--all
      .container__left
        .container__left--menu
          = link_to "ショップ情報変更", edit_shop_path(@shop.id), class: "menu__title"
        .container__left--menu
          = link_to "スタイリスト追加", "#", class: "menu__title"
        .container__left--menu
          = link_to "販売履歴", "#", class: "menu__title"
        .container__left--menu
          = link_to "退会", leave_shop_path, class: "menu__title"

      .container__right
        %ul.container__right--info
          %li.info__title ショップ登録情報
          %li.info__list
            .info__list--label 店舗名
            .info__list--value
              = @shop.name
          %li.info__list
            .info__list--label メールアドレス
            .info__list--value
              = @shop.email
          %li.info__list
            .info__list--label アバター
            .info__list--value
              - if @shop.avatar.url.present?
                = image_tag @shop.avatar.url, class: "avatar__show"
              - else
                = image_tag "no_image.png", class: "avatar__show"
          %li.info__list
            .info__list--label プロフィール
            .info__list--value
              = @shop.introduction
          %li.info__list
            .info__list--label 住所
            .info__list--value
              = "〒" + @shop.postal_code + " " + @shop.prefecture + @shop.city + @shop.address + " " + @shop.apartment
          %li.info__list
            .info__list--label 電話番号
            .info__list--value
              = @shop.phone_number
          %li.info__list
            .info__list--label スタイリスト
            .info__list--value
              - @shop.users.each do |stylist|
                .stylist__name
                  = stylist.nickname + "さん"

  .blank__space
