.wrapper__mypage
  - breadcrumb :shop, @shop
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title ショップ情報
    .mypage__container--all
      .container__left
        .container__left--menu
          = link_to "商品一覧", shop_path(@shop.id), class: "menu__title"
        .container__left--menu
          = link_to "スタイリスト一覧", "#", class: "menu__title"
        - if @shop.users.include?(current_user)
          .container__left--menu
            = link_to "管理者専用ページ", admin_shop_path, class: "menu__title"
        .container__left--menu
          = link_to "カテゴリーから探す", "#", class: "menu__title"
        .container__left--menu
          = link_to "ブランドから探す", "#", class: "menu__title"
        .container__left--menu
          = link_to "スタイリストから探す", "#", class: "menu__title"
        .container__left--menu
          = link_to "サイズから探す", "#", class: "menu__title"

      .container__right
        .shop__header
          .shop__header--image
            - if @shop.avatar.url.present?
              = image_tag @shop.avatar.url, class: "avatar__show"
            - else
              = image_tag "no_image.png", class: "avatar__show"
          .shop__header--title
            = @shop.name
          .shop__header--link
            .link__hp
              .link__hp--label 公式サイト：
              .link__hp--url
                = link_to(@shop.official_site, target: :_blank)
            .link__sns
              - if @shop.facebook_account.present?
                .link__sns--facebook
                  = link_to(@shop.facebook_account, target: :_blank) do
                    = icon("fab", "facebook-square", class: "link__icon") 
              - if @shop.line_account.present?
                .link__sns--line
                  = link_to(@shop.line_account, target: :_blank) do
                    = icon("fab", "line", class: "link__icon")
              - if @shop.instagram_account.present?
                .link__sns--instagram
                  = link_to(@shop.instagram_account, target: :_blank) do
                    = icon("fab", "instagram", class: "link__icon")
        .shop__item--title 商品一覧
        .items__container
          %ul.items__container--list
            - @items.each do |item|
              %li.item__list
                .item__thumbnail
                  = link_to item_path(item.id) do
                    .item__thumbnail--image
                    - if item.images.present?
                      = image_tag item.images[0].item_image.url, class: "item__show", size: "120x160"
                    - else
                      = image_tag "no_image.png", class: "item__show"
                  .item__label
                    = item.name
                  .item__price
                    = "¥ #{item.price.to_s(:delimited)}"

      -# 商品出品できてから実装
      -# = paginate @shop_items
