.wrapper__mypage
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title ショップ情報
    .mypage__container--all
      .container__left
        .container__left--menu
          = link_to "商品一覧", shop_path(@shop.id), class: "menu__title"
        .container__left--menu
          = link_to "スタイリスト一覧", "#", class: "menu__title"
        - if @shop.users.include?(current_user)
          .container__left--menu
            = link_to "管理者専用ページ", admin_shop_path, class: "menu__title"
        .container__left--menu
          = link_to "カテゴリーから探す", "#", class: "menu__title"
        .container__left--menu
          = link_to "ブランドから探す", "#", class: "menu__title"
        .container__left--menu
          = link_to "スタイリストから探す", "#", class: "menu__title"
        .container__left--menu
          = link_to "サイズから探す", "#", class: "menu__title"

      .container__right
        .shop__header
          .shop__header--image
            - if @shop.avatar.url.present?
              = image_tag @shop.avatar.url, class: "avatar__show"
            - else
              = image_tag "no_image.png", class: "avatar__show"
          .shop__header--title
            = @shop.name
        .shop__item--title 商品一覧
        = render "layouts/item-box"

      -# 商品出品できてから実装
      -# = paginate @shop_items
