.form__container--contents
  = form_for(@user, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: @user
    .field
      = f.label :nickname, "ニックネーム", class: "label__text"
      %span.required__item 必須
      = f.text_field :nickname, autofocus: true, class: "text__field", autocomplete: "nickname"
    .field
      = f.label :email, "メールアドレス", class: "label__text"
      %span.required__item 必須
      = f.email_field :email, class: "text__field", autocomplete: "email"
    .field
      = f.label :password, "パスワード", class: "label__text"
      %span.required__item 必須
      = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上の半角英数字", class: "text__field"
    .field
      = f.label :password_confirmation, "パスワード(確認用)", class: "label__text"
      %span.required__item 必須
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "※ 英字と数字の両方を含めて設定してください", class: "text__field"
    .field
      = f.label :"お名前(全角)", class: "label__text"
      %span.required__item 必須
      = f.text_field :last_name, placeholder: "例) 鈴木", class: "text__field--half"
      = f.text_field :first_name, placeholder: "例) 一郎", class: "text__field--half"
    .field
      = f.label :"お名前カナ(全角)", class: "label__text"
      %span.required__item 必須
      = f.text_field :last_name_kana, placeholder: "例) スズキ", class: "text__field--half"
      = f.text_field :first_name_kana, placeholder: "例) イチロー", class: "text__field--half"
    .field
      = f.label :birthday, "生年月日", class: "label__text"
      %span.required__item 必須
      = raw sprintf(f.date_select(:birthday, with_css_classes: "XXXXX", prompt: "--", use_month_numbers: true, start_year: Time.now.year, end_year: 1920, date_separator: "%s"), "年", "月") + "日"
    .field
      = f.label :height, "身長", class: "label__text"
      %span.required__item 必須
      = f.number_field :height, placeholder: "例) 168", min: 100, max: 200, class: "text__field--half"
    .field
      = f.label :body_weight, "体重", class: "label__text"
      %span.required__item 必須
      = f.number_field :body_weight, placeholder: "例) 60", min: 20, max: 150, class: "text__field--half"
    .field
      = f.label :foot_size, "体重", class: "label__text"
      %span.required__item 必須
      = f.select :foot_size, User.foot_sizes.keys.map {|k| [k, k]}, {}, { class: "text__field--half", data: {} }
    .field
      = f.label :avatar, "アバター", class: "label__text"
      %span.required__item 任意
      = f.file_field :avatar
    .field
      = f.label :introduction, "プロフィール", class: "label__text"
      %span.required__item 任意
      = f.text_area :introduction, class: "text__field--wide"

    = f.fields_for :address do |a| 
      .field
        = a.label :postal_code, "郵便番号", class: "label__text"
        %span.required__item 必須
        = a.text_field :postal_code, placeholder: "例）123-4567", class: "text__field"
      .field
        = a.label :prefecture, "都道府県", class: "label__text"
        %span.required__item 必須
        = a.select :prefecture, Address.prefectures.keys, {}, {class: "text__field--half"}
      .field
        = a.label :city, "市町村", class: "label__text"
        %span.required__item 必須
        = a.text_field :city, placeholder: "例）札幌市", class: "text__field--half"
      .field
        = a.label :address, "番地", class: "label__text"
        %span.required__item 必須
        = a.text_field :address, placeholder: "例）青葉1-1-1", class: "text__field--half"
      .field
        = a.label :apartment, "建物名", class: "label__text"
        %span.required__item 任意
        = a.text_field :apartment, placeholder: "例）柳ビル103", class: "text__field--half"
      .field
        = a.label :phone_number, "電話番号(半角)", class: "label__text"
        %span.required__item 必須
        = a.telephone_field :phone_number, placeholder: "例）0312345678", class: "text__field--half"

    = f.fields_for :credit_card do |c|
      .field
        = c.label :card_number, "カード番号(半角)", class: "label__text"
        %span.required__item 必須
        = c.text_field :card_number, class: "text__field", maxlength:"16"
      .field
        = c.label :card_company, "カード会社", class: "label__text"
        %span.required__item 必須
        = c.select :card_company, CreditCard.card_companies.keys, {}, {class: "text__field--half"}
      .field
        = c.label :有効期限, class: "label__text"
        %span.required__item 必須
        = c.select :card_month, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), {}, {class: "text__field--half"}
        = c.label :月, class: "card__year-and-month"
        = c.select :card_year, options_for_select((2020..2030)), {}, {class: "text__field--half"}
        = c.label :年, class: "card__year-and-month"
      .field
        = c.label :card_pass, "セキュリティコード", class: "label__text"
        %span.required__item 必須
        = c.text_field :card_pass, placeholder: "カード背面3~4桁の番号", class: "text__field--half"

    .actions
      = f.submit "会員登録する", class: "submit-btn"

.blank__space
