.wrapper__mypage
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title ユーザー登録情報
    .mypage__container--all
      .container__left
        .container__left--menu
          = link_to "会員情報変更", edit_user_path, class: "menu__title"
        .container__left--menu
          = link_to "クレジットカード情報", new_credit_card_path, class: "menu__title"
        .container__left--menu
          = link_to "注文履歴", "#", class: "menu__title"
        .container__left--menu
          = link_to "退会", leave_user_path, class: "menu__title"

      .container__right
        %ul.container__right--info
          %li.info__title 登録クレジットカード情報
          %li.info__list
            .info__list--label カード番号
            .info__list--value
              = "**** **** **** " + @default_card_information.last4
          %li.info__list
            .info__list--label 有効期限
            .info__list--value
              = @default_card_information.exp_month.to_s + "/" + @default_card_information.exp_year.to_s.slice(2,3)
          .form__content
            = form_tag(delete_credit_cards_path, method: :post, id: "charge-form",  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              .actions
                = submit_tag("削除する", class: "submit-btn")

  .blank__space
