.wrapper__talk

  .main__container
    .main__container--left

      %section.container__search
        %h2.container__search--title メニュー
        %ul.container__search--list
          %li.click__list
            = link_to "コミュニティ一覧", communities_path
          %li.click__list
            = link_to "レコメンド一覧"
          %li.click__list
            = link_to "総合TOPへ戻る", root_path

    .main__container--right
      %section.container__community
        %h2.container__community--title
          = "#{@community.name}のページ"
        .communities__container
          .communities__container--talk
            .talk__title
              %span トーク
      .talk__box
        .talk__box--messages
          = render partial: "talk", collection: @talks

      .talk__box--form
        = form_with(model: [@community, @talk], local: true, class: "form__talk") do |f|
          .field
            = f.text_field :talk, class: "text__field", placeholder: " " + "type a message"
            = f.label :image, class: "talk__input-box--image" do
              = icon('fas', 'image')
              = f.file_field :image, class: "talk__input-box--image-field"
          .action
            = f.submit "送信", class: "talk__submit-btn", id: "new__talk"
