.wrapper__mypage
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title ユーザー登録情報
    .mypage__container--all
      = render "side-bar"

      .container__right
        %ul.container__right--info
          %li.info__title 会員登録情報
          %li.info__list
            .info__list--label ニックネーム
            .info__list--value
              = @user.nickname
          %li.info__list
            .info__list--label メールアドレス
            .info__list--value
              = @user.email
          %li.info__list
            .info__list--label お名前
            .info__list--value
              = @user.last_name + " " + @user.first_name
          %li.info__list
            .info__list--label お名前(カナ)
            .info__list--value
              = @user.last_name_kana + " " + @user.first_name_kana
          %li.info__list
            .info__list--label 生年月日
            .info__list--value
              = @user.birthday
          %li.info__list
            .info__list--label 身長
            .info__list--value
              = @user.height
          %li.info__list
            .info__list--label 体重
            .info__list--value
              = @user.body_weight
          %li.info__list
            .info__list--label 足のサイズ
            .info__list--value
              = @user.foot_size
          %li.info__list
            .info__list--label アバター
            .info__list--value
              - if @user.avatar.url.present?
                = image_tag @user.avatar.url, class: "avatar__show"
              - else
                = image_tag "no_image.png", class: "avatar__show"
          %li.info__list
            .info__list--label プロフィール
            .info__list--value
              = @user.introduction
          %li.info__list
            .info__list--label 住所
            .info__list--value
              = "〒" + @user.address.postal_code + " " + @user.address.prefecture + @user.address.city + @user.address.address + " " + @user.address.apartment
          %li.info__list
            .info__list--label 電話番号
            .info__list--value
              = @user.address.phone_number

  .blank__space
