.wrapper__toppage
  = render "layouts/content-header"

  .main__container
    .main__container--left

      %section.container__search
        %h2.container__search--title 探す
        %ul.container__search--list
          %li.click__list
            = link_to "ブランドから探す"
          %li.click__list
            = link_to "ショップから探す"
          %li.click__list
            = link_to "こだわり条件から探す"

      %section.container__category
        %h2.container__category--title カテゴリー
        %ul.container__category--list
          - @parents.each do |parent|
            = link_to "#", class: "link__btn" do
              %li.click__list-js
                .click__list-js--text
                  = parent.name
                .click__list-js--icon
                  = icon("fas", "angle-right fa-2x")
                  %ul.click__list-js--child
                    - parent.children.each do |child|
                      = link_to "#", class: "child__list" do
                        %li.child__list--name
                          = child.name
        %p.container__category--more
          = link_to "カテゴリー一覧", "#", class: "link__blue"

      %section.container__like
        %h2.container__like--title お気に入り
        %ul.container__like--list
          = link_to "#", class: "link__btn" do
            %li.click__list-js
              .click__list-js--text アイテム
          = link_to "#", class: "link__btn" do
            %li.click__list-js
              .click__list-js--text ブランド
              .click__list-js--icon
                = icon("fas", "angle-right fa-2x")
          = link_to "#", class: "link__btn" do
            %li.click__list-js
              .click__list-js--text ショップ
              .click__list-js--icon
                = icon("fas", "angle-right fa-2x")

      %section.container__brand
        %h2.container__brand--title ブランド
        %ul.container__brand--list
          - Brand.brands.keys[1..10].each do |brand|
            %li.click__list
              = link_to brand, "#"
          %p.container__category--more
            = link_to "ブランド一覧", "#", class: "link__blue"

      %section.container__shop
        %h2.container__shop--title ショップ
        %ul.container__shop--list
          %li.click__list
            = link_to "DIESEL"
          %li.click__list
            = link_to "SHIPS"
          %li.click__list
            = link_to "adidas"
        %p.container__category--more
          = link_to "ショップ一覧", "#", class: "link__blue"

    .main__container--right
      %section.container__item
        %h2.container__item--title 最新のアイテム
        .items__container
          %ul.items__container--list
            - @all_items.each do |item|
              %li.item__list
                .item__thumbnail
                  = link_to item_path(item.id) do
                    .item__thumbnail--image
                    - if item.images.present?
                      = image_tag item.images[0].item_image.url, class: "item__show", size: "120x160"
                    - else
                      = image_tag "no_image.png", class: "item__show"
                  .item__label
                    = item.name
                  .item__price
                    = "¥ #{item.price.to_s(:delimited)}"

        %p.container__item--more
          = link_to "もっと見る", "#", class: "link__blue"
      %section.container__item
        %h2.container__item--title 最新のコーディネート
        .items__container
          %ul.items__container--list
            - @all_coordinates.each do |coordinate|
              %li.item__list
                .item__thumbnail
                  = link_to coordinate_path(coordinate.id) do
                    .item__thumbnail--image
                      = image_tag coordinate.image.url, class: "item__show", size: "120x160"
                  .item__label
                    = coordinate.name
                  .item__price
                    = "¥ #{coordinate.total_price.to_s(:delimited)}"
        %p.container__item--more
          = link_to "もっと見る", "#", class: "link__blue"
      %section.container__item
        %h2.container__item--title 閲覧数の多いコーディネート
        = render "layouts/item-box"
        %p.container__item--more
          = link_to "もっと見る", "#", class: "link__blue"
