.wrapper__item
  = render "layouts/sub-header"

  .item__container
    .item__container--all
      .container__left
        .container__left--image
          = image_tag @item.images[0].item_image.url, alt: "main-iamge", class: "main__image"
        .container__left--thumbnail
          %ul.thumbnail__list
          - @item.images.each do |image|
            %li.thumbnail__list--item
              = image_tag image.item_image.url, alt: "preview", class: "sub__image"

      .container__right
        .container__right--info

          .info__intro
            .info__intro--shop
              = "ショップ：" + @item.shop.name
            .info__intro--brand
              = "ブランド：" + @item.brand.brand
            %h1.info__intro--name
              = @item.name
            .info__intro--price
              = "¥ #{@item.price.to_s(:delimited)}"
              %small.info__intro--price-tax 税込
            .info__intro--favorite
              .favorite__icon
                = icon("far", "heart")
              .favorite__text お気に入りアイテム登録数：
              .favorite__count
                = "○○人(仮置き！)"

          .info__trade
          - if @item.stock > 0
            .info__trade--nav
              .nav__btn--buy
                = form_with(model: @item_payment, url: item_item_payments_path(@item.id), class: "buy__form") do |f|
                  = f.label :purchase_amount, "購入数", class: "label__text"
                  = f.number_field :purchase_amount, min: 1, max: 5, class: "number-field"
                  %span.space-word 個
                  - if user_signed_in?
                    = f.hidden_field :user_id, value: current_user.id
                  %script.payjp-button{"data-key": "pk_test_7909da3d557868a5ca4eddd3", src: "https://checkout.pay.jp", type: "text/javascript", "data-text": "今すぐ購入する", class: "input-btn"}
              .nav__btn--cart
                .stock__amount
                  = "在庫数：#{@item.stock}"
                  %span.space-word 個
                .nav__btn--cart-text
                  = link_to "カートに入れる", add_item_path(item_id: @item.id), method: :post
          - else
            .attention__message 在庫切れ

          .info__explain
            .info__explain--title アイテム説明
            .info__explain--text
              = @item.explain
            .info__explain--detail
              %dl.detail__box
                .detail__box--list
                  %dt.detail__box--list-key 性別タイプ
                  %span :
                  %dd.detail__box--list-value
                    = @item.gender
                .detail__box--list
                  %dt.detail__box--list-key カテゴリー
                  %span :
                  %dd.detail__box--list-value
                    = @item.category.parent.name + "＞" + @item.category.name
                .detail__box--list
                  %dt.detail__box--list-key サイズ
                  %span :
                  %dd.detail__box--list-value
                    = @item.size
                .detail__box--list
                  %dt.detail__box--list-key 送料
                  %span :
                  %dd.detail__box--list-value
                    = @item.postage
                .detail__box--list
                  %dt.detail__box--list-key 配送日(目安)
                  %span :
                  %dd.detail__box--list-value
                    = @item.shipping_date

          .info__stylist
            .info__stylist--title スタイリスト詳細
            .info__stylist--text
              = "スタイリスト名：" + @item.user.nickname + "さん"
            .info__stylist--detail
              %dl.detail__box
                .detail__box--list
                  %dt.detail__box--list-key 身長
                  %span :
                  %dd.detail__box--list-value
                    = @item.user.height
                    %span cm
                .detail__box--list
                  %dt.detail__box--list-key 体重
                  %span :
                  %dd.detail__box--list-value
                    = @item.user.body_weight
                    %span kg
                .detail__box--list
                  %dt.detail__box--list-key 足のサイズ
                  %span :
                  %dd.detail__box--list-value
                    = @item.user.foot_size
