.wrapper__toppage
  - breadcrumb :index_community
  = render "layouts/sub-header"

  .main__container
    = render "communities/side-bar"

    .main__container--right
      %section.container__community
        %h2.container__community--title コミュニティ一覧
        .communities__container
          %ul.communities__container--list
            - @communities.each do |community|
              %li.community__list
                .community__thumbnail
                  = link_to community_path(community.id) do
                    .community__thumbnail--image
                    - if community.avatar.present?
                      = image_tag community.avatar.url, class: "community__show", size: "120x160"
                    - else
                      = image_tag "no_image.png", class: "community__show"
                  .community__label
                    = community.name
                  .community__intro
                    = community.introduction

        %p.container__community--more
          = link_to "もっと見る", "#", class: "link__blue"
