.header
  .header__title
    = link_to "HomeSelectShop", root_path, class: "header__title--name"
  .header__nav
    - if user_signed_in?
      .header__nav--mypage
        = link_to "マイページ", mypage_user_path(current_user), class: "nav__tab"
      .header__nav--logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav__tab"
      .header__nav--menu
        .nav__tab メニュー
    - else
      .header__nav--new
        = link_to "新規登録", new_user_registration_path, class: "nav__tab"
      .header__nav--login
        = link_to "ログイン", new_user_session_path, class: "nav__tab"
      .header__nav--menu
        .nav__tab メニュー
